#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
}
  
#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
    z-index: 2;
}


#chat-screen .alt-header {
    z-index: 1;
}

#chat-scrren .main-chat {
    z-index: 0;
}
