.find-icons {
    display: flex;
    justify-content: space-between;
    
}

.find-icons__icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.find-icons__icon i {
    font-size: 35px;
}

.find-icons__icon span {
    margin-top: 18px;
}

.recommanded-friends {
    margin: 25px 0;
    padding: 25px 0;
    border-top: var(--border-line);
    border-bottom: var(--border-line);
}

.recommanded-friends span {
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--color-gray)
}